<h2>Name: <%= @country.name %></h2>
<h3>Population: <%= @country.population %></h3>
<img src="<%= @country.flag %>">
<h3>Language: <%= @country.language %></h3>
<h3>President: <%= @country.president %></h3>

<a href="/countries">Back</a>